h1, h2, h3, h4, h5, h6 {
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
}
body {
  background-color: #ebecf0;
  font-family: 'Lora', serif;
}
footer h6 {
  text-align: center;
  height: 40px;
  margin-top: 10px;
  padding: 10px 10px;
  background-color: #343a40;
  color: #ffffff;
}
/* ------------------------- Index  */
.inspiration {
  margin-top: 70px;
  margin-bottom: 100px;
}
.hero-img {
  background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)),
    url(../images/travel-img.jpg);
  height: 500px;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}
.m-jumbotron {
  padding-top: 140px;
}
.img-insp {
  height: 170px;
}
section.container-hero .jumbotron {
  background-color: rgba(218, 224, 229, 0.86);
  margin: 0 auto;
  display: block;
}
.hero-tittle {
  color: #ffffff;
  margin-top: -20px;
  margin-bottom: 30px;
}
section.inspiration h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}
section.inspiration h3 {
  font-size: 1.25rem;
}
/* --------------------------- Search Results  */
.media-section {
  margin-top: 70px;
  margin-bottom: 100px;
}
.media-section h1 {
  font-size: 1.5rem;
}
.media-container {
  background-color: #ffffff;
  border-radius: 5px;
  overflow: hidden;
}
.media-body h2 {
  font-weight: 700;
  font-size: 1.125rem;
}
.media-body p {
  font-size: 0.875rem;
}
.media-wrapper {
  padding: 20px 20px 0px 20px;
}
.media-wrapper-footer {
  margin-top: 100px;
}
.media-wrapper-footer h3 {
  font-size: 1rem;
  margin-bottom: 0px;
}
.media-wrapper-footer p {
  font-size: 0.75rem;
}
.img-media {
  object-fit: cover;
}
#city_location {
  text-transform: capitalize;
}
/* ------------------------- Details  */
.card-details {
  background-color: #ffffff;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 40px;
}
.card-details h2 {
  font-size: 1rem;
}
.details-rating {
  font-size: 0.875rem;
  color: #febb00;
}
.text-size {
  font-size: 0.75rem;
}
.font-14 {
  font-size: 0.875rem;
}
/* ------------------------- Contact  */
.hero-img-contact {
  background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)),
    url(../images/travel-plans-2018.jpg);
  height: 250px;
  background-position: 50%;
}
.pt-70 {
  padding-top: 70px;
}
.text-white {
  color: white;
}
.contact-form {
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0 auto;
  display: block;
}
/* ------------------------- overwrite Bootstrap  */
img {
  max-width: 100%;
}
.btn {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 	0.75rem;
  font-weight: 700;
}
.navbar-brand {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.875rem;
}
.card {
  border: none;
}
.page-item.active .page-link {
  color: #0e0101;
  background-color: #ffc107;
  border: 1px solid #dee2e6
}
.page-link {
  color: #0e0101;
  background-color: #fff;
}
.page-item.disabled .page-link {
  color: #0e0101;
}
/* ------------------------- media queries */
/*mobile devices*/
@media (max-device-width: 734px) {
  /*index*/
  .inspiration {
    margin-top: 40px;
    margin-bottom: 50px;
  }
  .hero-img {
    height: 300px;
  }
  .m-jumbotron {
    padding-top: 70px;
  }
  section.container-hero .jumbotron {
    padding-bottom: 20px;
  }
  section.inspiration h3 {
    margin-top: 20px;
  }
  /*Search Results*/
  .media-section {
    margin-top: 40px;
    margin-bottom: 50px;
  }
  .media {
    flex-direction: column;
  }
  .media-wrapper-footer {
    margin-top: 50px;
  }
   /*Details*/
   .card-body {
    padding: 1.25rem 0;
  }
}
@media (max-width: 767px) {
  /*Search Results*/
  .media {
    flex-direction: column;
  }
  .media-wrapper-footer {
    margin-top: 70px;
  }
  
}